SentinelXMLReader/src/main/resources/xsd/s1/s1-map-overlay.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- $Id: s1-map-overlay.xsd 10288 2014-01-10 18:17:28Z cthain@DS.MDA.CA $ --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xsd:complexType name="kmlType">
    <xsd:sequence>
      <xsd:element name="Document" type="xsd:anyType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="kml" type="kmlType"/>
</xsd:schema>
